<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/style.css">

    <title>
        insta485
    </title>
</head>


<body>
    <a href="/">
        LOGO
    </a>

    <!--If Logged in-->
    <div class="rightCorner">
        <a href="/explore/">explore</a>
        <a href="{{ '/users/%s/'%logname }}">{{logname}}</a>
    </div>

    <h1>Followers</h1>

    {% for follower in users %}
    <div class="follower">
        <img src="{{url_for('image_render', filename = '%s'%follower.filename )}}" alt="user image">

        <a href="{{ '/users/%s/'%follower.username }}">{{follower.username}}</a>
        {% if logname == follower.username %}
        <!-- Do nothing if logname and username are the same -->
        {% elif follower.logname_follows_username %}
        following
        <!-- unfollow button -->
        <form
            action="{{url_for('following_target', target=url_for('show_user_followers', username = '%s'%page_username))}}"
            method="post" enctype="multipart/form-data">
            <input type="submit" name="unfollow" value="unfollow" />
            <input type="hidden" name="username" value="{{ '%s'%follower.username }}" />
            <input type="hidden" name="operation" value="unfollow" />
        </form>
        {% else %}
        not following
        <!-- follow button -->
        <form
            action="{{url_for('following_target', target=url_for('show_user_followers', username = '%s'%page_username))}}"
            method="post" enctype="multipart/form-data">
            <input type="submit" name="follow" value="follow" />
            <input type="hidden" name="username" value="{{ '%s'%follower.username  }}" />
            <input type="hidden" name="operation" value="follow" />
        </form>
        {% endif %}
    </div>
    {% endfor %}

</body>

</html>