<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/style.css">

    <title>insta485</title>
</head>

<body>
    <!--Navbar-->
    <ul>
        <li style="float:left"><a href="/">Insta485</a></li>
    </ul>

    <br>
    <br>

    <!-- DO NOT CHANGE THIS (aside from styling) -->
    <form action="{{url_for('account_target')}}" method="post" enctype="multipart/form-data">
        <label>Username:</label>
        <input type="text" name="username" required />
        <br>
        <label>Password:</label>
        <input type="password" name="password" required />
        <br>
        <input type="submit" value="login" />
        <input type="hidden" name="operation" value="login" />
        <p>Don't have an account?</p><a href="/accounts/create/">Sign up!</a>
    </form>

</body>

</html>