<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/style.css">

    <title>insta485</title>
</head>

<body>
    <!--Navbar-->
    <ul>
        <li style="float:left"><a href="/">Insta485</a></li>
    </ul>

    <!--If Logged in-->
    <div class="rightCorner">
        <a href="/explore/">explore</a>
        <a href="{{ '/users/%s/'%logname }}">{{logname}}</a>
    </div>

    <br>
    <br>

    <!-- DO NOT CHANGE THIS -->
    <form action="{{url_for('account_target', target=url_for('show_edit'))}}" method="post"
        enctype="multipart/form-data">
        <label>Password:</label>
        <input type="password" name="password" required />
        <label>New Password:</label>
        <input type="password" name="new_password1" required />
        <label>New Password:</label>
        <input type="password" name="new_password2" required />
        <input type="submit" name="update_password" value="submit" />
        <input type="hidden" name="operation" value="update_password" />
        <a href="/accounts/edit/">Back to edit</a>
    </form>

</body>

</html>